body html {
    margin: 0;
    padding: 0;
}

#logo-corner {
    color: #aaaaaa;
    background-color: #080808;
    width: 100vw;
    padding-bottom: 10px;
}
#logo-left {
    display: flex;
}
#logo-corner-name {
    font-size: 40px;
    padding-left: 1vw;
}
#img-logo {
    margin-top: -20px;
    width: 80px;
    position: relative;
    left: 1vw;
    cursor: pointer;
}
#navigation {
    flex: 1;
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#navigation a {
    color: #aaaaaa;
    padding-right: 10px;
}

.visibleAtFirst { 
    display: none;
}

#about-me {
    text-align: center;
    width: 100vw;
    padding-top: 20px;
    color: #080808;
    background-color: #aaaaaa;
}
#amText {
    padding: 0 10px;
    text-align: center;
}
#about-contact {
    text-align: right;
    padding-bottom: 10px;
}
#about-contact a {
    color: #080808;
}

#projects-page {
    padding-top: 20px;
    background-color: #080808;
    color: #aaaaaa;
    width: 100vw;
    text-align: center;
}
.projText {
    text-align: center;
}
.projText a {
    color: #aaaaaa;
}
.projImg img {
    width: 100vw;
}

#skills-page {
    background-color: #aaaaaa;
    width: 100vw;
    padding-top: 20px;
    text-align: center;
}
#skills-page img {
    width: 100vw;
}
#softSkills {
    text-align: left;
}

#contact {
    padding-top: 10px;
    display: flex;
    width: 100vw;
    height: 20vh;
    background-color: #080808;
    color: #aaaaaa;
    font-size: 3vh;
}
#contact a {
    color: #aaaaaa;
}