.section-projects {
    @include section-info;
    @include section-info-dark;

    -webkit-clip-path: polygon(50% 0, 75% 0, 50% 100%, 25% 100%);
    clip-path: polygon(50% 0, 75% 0, 50% 100%, 25% 100%);

    transition: all .6s linear;

    @include respond(phone) {
        @include main-media;
        height: 25vh;
        top: 40vh;
    }

    &__clipped {
        @include clipped;
        left: 47%;

        @include respond(tab-port) {
            left: 46%;
        }

        @include respond(phone) {
            @include center-clipped;
        }
    }

    &__full {
        display: none;

        &-container {
            overflow-y: scroll;

            @include respond(tab-port) {
                width: 80vw;
            }
        }
    }
}

.project {
    display: flex;

    @include respond(phone) {
        flex-direction: column;
    }

    &__image {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        & img {
            width: 30rem;
            transition: all .6s;

            &:hover {
                transform: scale(1.4);
            }

            @include respond(tab-port) {
                width: 27rem;
                max-height: 12rem;
            }
        }

        & h2 {
            font-size: 2rem;
        }
    }

    &__text {
        flex: 1;
        padding-right: 2rem;
        font-size: 1.6rem;
        text-align: justify;

        &-links {
            text-align: right;

            & a {
                color: inherit;
            }
        }
    }

    
}